body {
	color: white;
	background-color: #EDDEA4;
	text-align:center;
	font-size: 24px;
}

header{
	text-align:center;
	position: relative;
  	top:50%;
  	transform: translateY(-60%);
}

h1{
	font-size:6em;
	letter-spacing:-.02em;
	font-weight:400;
	text-align:center;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
}

h1 .socialmedia{
	font-size: 20px;
}
h2{
	font-family: 'Lora', serif;
	font-weight: bold;
}

h3{
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	top: 50%;
	position: relative;
}

nav{
	margin: auto;
	width:100%;
    background-color: #F7A072;
}

ul li{
	display: inline-block;
}
li a{
	display: inline-block;
	text-decoration: none;
	float: left;
	width: 100%;
}

li a:hover{
	background-color: #0FA3B1;
	color:#000;
	position: relative;
	top: 50%;
}

section{
	height: 100vh;
}

img {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}

.clearfix:after {  
	visibility: hidden;
	display: block;
	content: "."; 
	clear: both;  
	height: 0; 
	font-size: 0;
}
.circle{
	top: 50%;
	width: 300px;
	height:300px;
	background-color: rgba(50,1,10,0.5);
	border-radius: 150px;
	display: block;
	float: left;
}

.socialmedia{
	float: left;
	width: 33.33%;
	font-size: 0.5em;
}
#title{
	height: 100vh;
	overflow: auto;
	background: url(hero.jpg) no-repeat center center fixed;	 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#container{
	margin: 0 auto;
	width: 600px;
	clear: both;
}

#intro{
	height: 100vh;
	font-size: 0.2em;
	font-style: italic;
}


#mainnav{
	display: inline-block;
	float: left;
	font-style: bold;
	font-size: 5vh;
	height: 10vh;
}


#mobilenav{
	display: none;
}

/*#wishlist h3, #follow h3, #sharedwishlist h3, #feedback h3{
	vertical-align: middle;
}*/

#yourwishlist{
	heigh: 100vh;
}

#wishlist{
	font-size: 20px;
	display: block;
	width: 50%;
	height: 30px;
	background-color: #FF9B42;
	padding: 5px;
	vertical-align: middle;
	overflow: auto;
	background: url(valley2.png) no-repeat center center fixed;	 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#follow{
	font-size: 30px;
	display: block;
	width: 70%;
	height: 50px;
	background-color: orange;
	padding: 10px;
	overflow: auto;
	background: url(hero.jpg) no-repeat center center fixed;	 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#sharedwishlist{
	font-size: 30px;
	display: block;
	width: 40%;
	height: 40px;
	background-color: red;
	padding: 5px;
	overflow: auto;
	background: url(valley3.png) no-repeat center center fixed;	 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#feedback{
	font-size: 50px;
	display: block;
	width: 50%;
	height: 76px;
	background-color: green;
	padding: 8px;
	overflow: auto;
	background: url(valley4.png) no-repeat center center fixed;	 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#manywishlist{
	margin: 15px 0;
	padding: auto;
	text-align: center;
	vertical-align: center;
	width: 100%;
	height: 30%;
	overflow: auto;
	background: url(sky.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}




@media screen and (max-width: 400px){
	#mainnav{
		display: none;
	}

	#mobilenav{
		background-color: red;
		display: block;
	}
	#mobilenav li, #mobilenav li a{
		display: block;
	}
	}


