#slogan{
	font-family: 'Lobster', cursive;
	font-size: 40 px;
	font-style: italic;
}
body {
	color: white;
	background-color: rgb(249,172,255);
	text-align:center;
	font-size: 24 px;
}
title{

}
h1{
	font-weight: bold;
	font-size: 30px;
}
p{
	font-family: arial;
}
h1{
	color: white;
}
ul{
	padding: 5 px;
}

